<div class='panel panel-primary'>
    <div class='panel-heading'> Company list </div>
    <div class='panel-body'>
        <div class='row'>
            <div class='col-md-4'><input type='text' placeholder="Filter by" [(ngModel)]='userFilter'></div>
        </div>
        <div class='table-responsive'>
            <table class='table'>
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Name</th>
                        <th>Password</th>
                        <th>Email</th>
                        <th>Coupons Owned</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let company of companies | companyFilter: userFilter : 'name'">
                        <td>{{company.id}}</td>
                        <td>
                            <a [routerLink]="[company.id]">
                                {{company.name}}</a>
                        </td>
                        <td>{{company.password}}</td>
                        <td>{{company.email}}</td>
                        <td>{{company.coupons.length}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div class="panel-footer">
        <a class='btn btn-default' (click)='onCreate()' style='width:150px'>
            <i class='glyphicon glyphicon-pencil'></i> Create Company
        </a>
    </div>
</div>
<div *ngIf="toggleCreate">
    <create-company></create-company>
</div>